
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;400&family=Poppins:wght@200;500;700&family=Unbounded:wght@600&display=swap');



@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/courses.css");
@import url("sections/about-us.css");
@import url("sections/footer.css");
@import url("sections/whyus.css");
@import url("sections/testimonials.css");
@import url("sections/expert.css");

:root{

    --font-family: "Poppins", sans-serif;
    --font-family1: "Poppins", serif;
    --font-monteserrat : "Montserrat", sans-serif;
    --font-unbounded : "Unbounded", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
    margin: 0 ;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    
    
  }


  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom: 20px;
    right: 15px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .my-float{
    margin-top:16px;
  }

  


  
  


