.our-courses {
    background: #ffffff;
    animation: myAnim3 1s ease 0s 1 normal forwards;
 
}
.section-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

  
}
.section-heading p {
    font-family: var(--font-family1);
    font-weight: 400;
    font-size: 15px;
    color: grey;
}

.section-heading h2 {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}
.courses-container {
    margin-top: 4rem;
    display: flex;
    padding-left: 4rem;
    gap: 2rem;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    
}
.courses-cards {
    transition: all 0.5s ease;
    gap: 1rem;
    line-height: 24px;
    justify-content: center;
    position: relative;
    width: 20rem;
    height: 18rem;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.courses-cards:hover {
    transform: scale(1.1);

}
.course-content h3 {
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 600;
}
.course-content p {
    font-family: var(--font-monteserrat);
    font-size: 12px;
    font-weight: 400;
}
.course-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.w-button {
    margin-bottom: 2rem;
}

.courses-cards button {
    cursor: pointer;
    align-items: flex-end;
    justify-content: end;
    position: relative;
    width: 5.5rem;
    height: 1.9rem;
    font-size: 10px;
    text-align: center;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #fff;
    font-family: var( --font-monteserrat);
    font-weight: 600;
   
    background: rgb(67,97,238);
    background: linear-gradient(265deg, rgba(67,97,238,1) 0%, rgba(72,149,239,1) 100%);
}
.course-button {
    display: flex;
    justify-content: flex-end; /* Align the button to the right side */
  }
  .course-card {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust this to your desired spacing between content and button */
  }

.course-icon img {
    max-width: 4rem;
    max-height: 4rem;
}

  


    @media screen and (max-width: 760px) {
        .courses-container {
            margin-left: 10px;
            margin-right: 10px;
         }
    
         .courses-cards{
            height: 15.5rem;
            transition: none;
         }
         .courses-cards:hover {
            transform: none;
        
        }
        
    }
   
    

    