.hero {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(234, 243, 251);
    background: linear-gradient(180deg, rgb(219, 237, 252) 0%, rgb(242, 248, 251) 72%, rgba(255,255,255,1) 100%);

    
   
    
}
.hero_content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-left: 1.5rem;
    justify-content: center;

    
}
.hero_content h1 {

    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 800;
    color: #03045e;
    line-height: 3rem;
    text-align: center;


}
.hero_content h4 {
    
    font-size: 15px;
    font-family: var(--font-family1);
    font-weight: 200;
    color: grey;
    
}

.hero_image {
    margin: 4rem;
    justify-content: center;
    align-items: center;
}
.hero_image img {
    width: 14rem;
    position: relative;
}
.hero_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.7rem;
    justify-content: center;
}
.hero_btn {
    max-width: 7.5rem;
    max-height: 6rem;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}   
.hero_btn:hover {
  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.hero_buttons button {
    border: 0;
    
    color: #ffff;
    border-radius: 30px;
    font-size: 14px;
    font-family: var(--font-family1);
    font-weight: 400;
    width: 6.7rem;
    height: 2.2rem;
    cursor: pointer;

}

.learn_btn {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.learn_btn:hover {
    background: rgb(131,58,180);
background: linear-gradient(265deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}